@use 'typography';

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-drag-no-select {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin mask-image($deg, $start, $end) {
  -webkit-mask-image: linear-gradient($deg, transparent 0%, transparent $start, black $end);
  mask-image: linear-gradient($deg, transparent 0%, transparent $start, black $end);
}