@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 300;
    src: local('Futura PT Light'), url('assets/fonts/FuturaCyrillicLight.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    src: local('Futura PT Book'), url('assets/fonts/FuturaCyrillicBook.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    src: local('Futura PT Medium'), url('assets/fonts/FuturaCyrillicMedium.woff') format('woff');
}

//@font-face {
//    font-family: 'Futura PT';
//    font-style: normal;
//    font-weight: 600;
//    src: local('Futura PT Demi'), url('assets/fonts/FuturaCyrillicDemi.woff') format('woff');
//}
//
//@font-face {
//    font-family: 'Futura PT';
//    font-style: normal;
//    font-weight: 700;
//    src: local('Futura PT Heavy'), url('assets/fonts/FuturaCyrillicHeavy.woff') format('woff');
//}
//
//@font-face {
//    font-family: 'Futura PT';
//    font-style: normal;
//    font-weight: 800;
//    src: local('Futura PT Bold'), url('assets/fonts/FuturaCyrillicBold.woff') format('woff');
//}
//
//@font-face {
//    font-family: 'Futura PT';
//    font-style: normal;
//    font-weight: 900;
//    src: local('Futura PT Extra Bold'), url('assets/fonts/FuturaCyrillicExtraBold.woff') format('woff');
//}